{% extends '::base.html.twig' %}

{% block body %}
    <ul>
        {% for group in groups %}
            <li>
                <a href="{{ path('contactbook_contactgroup_showgroups')}}">{{ group.name }}</a>
            </li>
            <a href="{{ path('contactbook_contactgroup_modifygroup', {'id': group.id}) }}">Edytuj</a>
            <a href="{{ path('contactbook_contactgroup_delete', {'id': group.id}) }}">Usuń</a>
        {% else %}
            {{ "Groups Not found" }}
        {% endfor %}
    </ul>
    <br><a href="{{ path('contactbook_contactgroup_newgroup') }}">Dodaj nową grupę</a>
{% endblock %}