{% extends '::base.html.twig' %}

{% block body %}
    <h2>{{ contact.name }}</h2>
    <p>{{ contact.description }}</p>
    <a href="{{ path('contactbook_contact_showall') }}">Pokaż wszystkie kontakty</a>
    <a href="{{ path('contactbook_contact_modify', {'id': contact.id}) }}">Edytuj</a>
    <a href="{{ path('contactbook_address_addadresses', {'id': contact.id}) }}">Dodaj adres zamieszkania</a>
    <section>
        <h3>Adres zamieszkania</h3>
        {% for address in addresses %}
            <p>Miasto:{{ address.city }} Ulica: {{ address.street }} Numer domu: {{ address.number }} Numer mieszkania: {{ address.local }}
                <a href="{{ path('contactbook_address_modify', {'id':contact.id, 'n':address.id})}}">Edytuj</a>
                <a href="{{ path('contactbook_contact_delete', {'id':contact.id, 'n':address.id})}}">Usuń adres</a>
            </p>
        {% else %}
            {{ "Brak adresów" }}
        {% endfor %}
    </section>

{% endblock %}