{% extends '::base.html.twig' %}

{% block body %}
    <ul>
    {%  for contact in contacts %}

            <li><a href="{{ path('contactbook_contact_show', {'id': contact.id}) }}">{{ contact.name }}</a>
                </li><a href="{{ path('contactbook_contact_delete', {'id': contact.id}) }}">Usuń</a>

    {% else %}
        {{ "Not found" }}
        {% endfor %}
    </ul>
    <br><a href="{{ path('contactbook_contact_newcreate') }}">Dodaj nowy kontakt</a>
{% endblock %}